{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    
    <form action="/buy" method="post">
        <div class = "container">Cash remaining: {{ money }}</div>
        <div class="mb-3 pt-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Price</button>
    </form>

    {% if count %}
        <div class="container">
            <p>Price of {{ symbol }} is {{ price }}</p>
            <p>You can buy {{ count }} {{ symbol }}</p>

            <form action="/buy" method="post">
                <label for="buy-amount">Choose how many of {{ symbol }} to buy</label>
                <select id="buy-amount" name="quantity">
                    {% for i in range(1,count+1) %}
                        <option value ="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">BUY</button>
            </form>
        </div>
    {% endif %}
{% endblock %}