h1 {
    font-size: 8vh;
}

div.carousel-caption h1{
    opacity: 0.5;
}

div.carousel-caption a{
    opacity: 0.8;
}

.title,
.desc,
.intro {
  text-align: center;
}



.masonry {
    transition: all .5s ease-in-out;
    column-gap: 30px;
    column-fill: initial;
}

/* Masonry item */
.masonry .brick {
    margin-bottom: 30px;
    display: inline-block; /* Fix the misalignment of items */
    vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
    width: 20vw;
    height: auto;
    transition: all .5s ease-in-out;
    backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
    opacity: .75;
}

/* Gutterless masonry */
.masonry.gutterless {
    column-gap: 0;
}
  
.masonry.gutterless .brick {
    margin-bottom: 0;
}
  
/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .masonry {
      column-count: 2;
    }
  }
  
/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
    .desc {
        font-size: 1.25em;
    }
  
    .intro {
        letter-spacing: 1px;
    }

    .masonry {
        column-count: 3;
}
}


.btn.btn-quarternary {
    color: #fff;
    border-color: #b96b9f;
    background: #b96b9f; }
    .btn.btn-quarternary:hover, .btn.btn-quarternary:focus {
      border-color: #a44d87 !important;
      background: #a44d87 !important; }